<% if @elb_entities.nil? or @elb_entities.size == 0 %>
  <h3>No Elastic Load Balancers</h3>
<% else %>
  <h3>Elastic Load Balancers</h3>
  <table class="table">
    <tr>
      <th>#</th>
    </tr>
    <tr>
      <td>#</td>
    </tr>
  </table>
<% end %>
